@import url("style.css");
@import url("menu.css");

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 418px;
    width: 600px;
    background-color: #fff;
}

.form {
    padding: 40px 80px;
}

.form__heading {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.input {
    font-size: 24px;
    padding: 14px 20px;
    border: transparent;
    border-bottom: 1px solid #9E70FF;
    width: 100%;
    margin-top: 40px;
    background-color: transparent;
}

input:focus{
    outline: none;
}

.form__button {
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: #ffffff 1px solid;
    transition: border 0.5s linear;
    margin-right: 40px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 55px;
}

.form__button:hover {
    border: #9E70FF 1px solid;
}

button:focus{
    outline: 1px solid #9E70FF;
}
