@import url("config.css");
@import url("fonts.css");

*{
    color: #222222;
    font-family: "Roboto-Light";
}
body {
    background-color: #F5F5F5;
}
.header {
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 100%;
}

.under-header{
    margin: 0 auto;
    height: 2px;
    border-bottom: 2px solid;
    border-bottom-color: #9E70FF;

    animation-name: line_animation;
    animation-duration: 0.5s;
    animation-timing-function: linear; 
}
.header__wrapper {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 60px;
    height: 60px;
    
}
.header__left-nav {
    width: 240px;

}
.header__right-nav {
    width: 300px;
    font-size: 14px;
}
.header__projects {
    font-family: "Roboto-Regular" !important;
    font-size: 14px;
    line-height: 56px;
    border-bottom: 3px solid;
    border-bottom-color: #9E70FF;

    animation-name: fadein;
    animation-duration: 2s;
    /*animation-delay: 1s;*/
}

@keyframes line_animation {
    from {
        width: 0%;
    }
    to {
        width:100%;
    }
}

@keyframes fadein {
    from { border-bottom-color: #F5F5F5; }
    to   { border-bottom-color: #9E70FF; }
}

.menu {
    top: 62px;
    position: fixed;
    z-index: 1;
    width: 130px;
    min-height: 100vh;
    border-right: 1px #C4C4C4 solid;
    padding: 20px 0px 0px 0px;
    float: left;
}

.menu__title {
    font-size: 16px;
    padding: 0px 0px 25px 20px;

}

.menu__list {
    font-size: 14px;
}

.menu__list li {
    list-style-position: inside !important;
    margin: auto !important;
    padding: 7px 0px 7px !important;
    cursor: pointer;
}

.menu__list a{
    padding-left: 20px !important;
    font-family: Roboto-Light;

}


.active {
    background-color: #EAE0FF;
}
.ul_p {
    padding-bottom: 7px;
}


/*.menu__list {
}
.menu__list > li {
}
.menu__list > li > ul {
    display: none;
    width: 100%;
}*/