@import url("import.css");


.options-button__img {
	padding-right: 9px;
}

.page {
	width: 1180px;
	height: 100px;
	border-bottom: 1px solid #C4C4C4;
}

.pages__add-page {
    margin: 20px auto;
    width: 107px;
}

.no-data{
    text-align: center;
    padding-top: 20px;
    color: #888888 !important;
}

.title__text {
	padding-left: 60px !important;
}

.title__text {
	font-size: 28px;
	padding-left: 20px;
}

.page__right {
	font-size: 12px;
	line-height: 40px;
	text-align: right;
	margin-right: 60px;
}
.right__options {
    line-height: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.table-buttons__button{
    margin-left: 20px;
}

.table-form {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
}

.thead__tr {
    
    font-size: 14px !important;
    border: 1px solid #C4C4C4;
}

.column_head {
    border-left: 1px solid #C4C4C4;
    color: #808080 !important;
}

th, td {
    padding: 12px 20px !important;
}

.sec-row {
    background-color: #F1F1F1;
}

.col1 {
    width: 7%;
}
.col2 {
    width: 30%;
}
.col3 {
    width: 20%;
}
.col4 {
    width: 20%;
}
.col5 {
    width: 20%;
}

.add-page__link {
    height: 107px;
}




