.posts {
    padding: 0;
}

li {
    list-style-type: none;
}

.category li {
    padding: 20px;
    margin-bottom: 2px;
    border: #E6E6E6 solid 2px;
}

.posts input {
    width: 40%;
    margin: 0 0 0 20px;
    font-size: 18px;
    border: transparent;
    background-color: transparent;
}

.deletePost {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.add-new-post {
    text-align: center;
    cursor: pointer;
}
